.vs/
bin/
obj/
*.user
_ReSharper*/
*.ReSharper
*_wpftmp.csproj
launchSettings.json
.idea/
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v3/15/a3/71bf4244e50913b8d044a142faab.val
.aider.tags.cache.v3/74/66/0763e65f1aac2ea071c5bd729cb4.val
.aider.tags.cache.v3/48/e5/00c3f56bb4b050e916f94a4ffd63.val
.aider.tags.cache.v3/48/61/6119d5ee52c65cceae54952cabd3.val
.aider.tags.cache.v3/cache.db
.aiderignore
